.leftSidebar .p-sidebar {
     background-color: rgba(0, 0, 0, 0.8)!important;
     color: rgba(255,255,255,0.8) !important;
     padding: 0.571em 1em;
     border: none !important;
     box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
     top: 105px;
     height: calc(100% - 140px)!important;
     width:30%
 }

.leftSidebar button.openLeftSidebar {
    position: absolute;
    bottom: 45px;
    right: 80px;
    z-index: 5;

}